src/conf/xml-resources/web-service-references/MenuWebService/wsdl/app8.sacooliveros.edu.pe_8080/WebservicesSeguridad/MenuWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.webservicesseguridad.siso.pe/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.webservicesseguridad.siso.pe/" name="MenuWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.webservicesseguridad.siso.pe/" schemaLocation="http://app8.sacooliveros.edu.pe:8080/WebservicesSeguridad/MenuWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="listarModuloWebservice">
<part name="parameters" element="tns:listarModuloWebservice"/>
</message>
<message name="listarModuloWebserviceResponse">
<part name="parameters" element="tns:listarModuloWebserviceResponse"/>
</message>
<message name="listarCategoriaWebservice">
<part name="parameters" element="tns:listarCategoriaWebservice"/>
</message>
<message name="listarCategoriaWebserviceResponse">
<part name="parameters" element="tns:listarCategoriaWebserviceResponse"/>
</message>
<message name="listarSubCategoriaWebservice">
<part name="parameters" element="tns:listarSubCategoriaWebservice"/>
</message>
<message name="listarSubCategoriaWebserviceResponse">
<part name="parameters" element="tns:listarSubCategoriaWebserviceResponse"/>
</message>
<message name="listarTituloWebservice">
<part name="parameters" element="tns:listarTituloWebservice"/>
</message>
<message name="listarTituloWebserviceResponse">
<part name="parameters" element="tns:listarTituloWebserviceResponse"/>
</message>
<portType name="MenuWebService">
<operation name="listarModuloWebservice">
<input wsam:Action="http://webservices.webservicesseguridad.siso.pe/MenuWebService/listarModuloWebserviceRequest" message="tns:listarModuloWebservice"/>
<output wsam:Action="http://webservices.webservicesseguridad.siso.pe/MenuWebService/listarModuloWebserviceResponse" message="tns:listarModuloWebserviceResponse"/>
</operation>
<operation name="listarCategoriaWebservice">
<input wsam:Action="http://webservices.webservicesseguridad.siso.pe/MenuWebService/listarCategoriaWebserviceRequest" message="tns:listarCategoriaWebservice"/>
<output wsam:Action="http://webservices.webservicesseguridad.siso.pe/MenuWebService/listarCategoriaWebserviceResponse" message="tns:listarCategoriaWebserviceResponse"/>
</operation>
<operation name="listarSubCategoriaWebservice">
<input wsam:Action="http://webservices.webservicesseguridad.siso.pe/MenuWebService/listarSubCategoriaWebserviceRequest" message="tns:listarSubCategoriaWebservice"/>
<output wsam:Action="http://webservices.webservicesseguridad.siso.pe/MenuWebService/listarSubCategoriaWebserviceResponse" message="tns:listarSubCategoriaWebserviceResponse"/>
</operation>
<operation name="listarTituloWebservice">
<input wsam:Action="http://webservices.webservicesseguridad.siso.pe/MenuWebService/listarTituloWebserviceRequest" message="tns:listarTituloWebservice"/>
<output wsam:Action="http://webservices.webservicesseguridad.siso.pe/MenuWebService/listarTituloWebserviceResponse" message="tns:listarTituloWebserviceResponse"/>
</operation>
</portType>
<binding name="MenuWebServicePortBinding" type="tns:MenuWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarModuloWebservice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCategoriaWebservice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarSubCategoriaWebservice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarTituloWebservice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MenuWebService">
<port name="MenuWebServicePort" binding="tns:MenuWebServicePortBinding">
<soap:address location="http://app8.sacooliveros.edu.pe:8080/WebservicesSeguridad/MenuWebService"/>
</port>
</service>
</definitions>