src/conf/xml-resources/web-service-references/MenuWebService/wsdl/app8.sacooliveros.edu.pe_8080/WebservicesSeguridad/MenuWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices.webservicesseguridad.siso.pe/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.webservicesseguridad.siso.pe/">

<xs:element name="listarCategoriaWebservice" type="tns:listarCategoriaWebservice"/>

<xs:element name="listarCategoriaWebserviceResponse" type="tns:listarCategoriaWebserviceResponse"/>

<xs:element name="listarModuloWebservice" type="tns:listarModuloWebservice"/>

<xs:element name="listarModuloWebserviceResponse" type="tns:listarModuloWebserviceResponse"/>

<xs:element name="listarSubCategoriaWebservice" type="tns:listarSubCategoriaWebservice"/>

<xs:element name="listarSubCategoriaWebserviceResponse" type="tns:listarSubCategoriaWebserviceResponse"/>

<xs:element name="listarTituloWebservice" type="tns:listarTituloWebservice"/>

<xs:element name="listarTituloWebserviceResponse" type="tns:listarTituloWebserviceResponse"/>

<xs:complexType name="listarModuloWebservice">
<xs:sequence>
<xs:element name="codigoProyectoDetalle" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarModuloWebserviceResponse">
<xs:sequence>
<xs:element name="return" type="tns:menuBean" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="menuBean">
<xs:sequence>
<xs:element name="codigoCategoria" type="xs:int"/>
<xs:element name="codigoModulo" type="xs:int"/>
<xs:element name="codigoProyecto" type="xs:int"/>
<xs:element name="codigoProyectoDetalle" type="xs:int"/>
<xs:element name="codigoSubcategoria" type="xs:int"/>
<xs:element name="codigoTitulo" type="xs:int"/>
<xs:element name="icono" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="orden" type="xs:int"/>
<xs:element name="tipo" type="xs:int"/>
<xs:element name="url" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarCategoriaWebservice">
<xs:sequence>
<xs:element name="codigoProyectoDetalle" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarCategoriaWebserviceResponse">
<xs:sequence>
<xs:element name="return" type="tns:menuBean" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarTituloWebservice">
<xs:sequence>
<xs:element name="codigoProyectoDetalle" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarTituloWebserviceResponse">
<xs:sequence>
<xs:element name="return" type="tns:menuBean" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarSubCategoriaWebservice">
<xs:sequence>
<xs:element name="codigoProyectoDetalle" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarSubCategoriaWebserviceResponse">
<xs:sequence>
<xs:element name="return" type="tns:menuBean" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>